*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px;
    background:linear-gradient(135deg,#050816,#081b29,#120c35,#021d2d);
    color:white;
}

.contenedor{
    width:100%;
    max-width:450px;
}

.btn-probar{
    width:100%;
    padding:15px;
    margin-bottom:25px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#00e5ff,#6a00ff);
    color:white;
    font-size:18px;
    font-weight:bold;
    letter-spacing:2px;
    cursor:pointer;
    transition:.35s;
    box-shadow:0 0 15px #00e5ff;
}

.btn-probar:hover{
    transform:translateY(-4px);
    box-shadow:0 0 30px #00e5ff;
}

.tabla{
    background:rgba(18,25,40,.85);
    border:2px solid #00e5ff;
    border-radius:18px;
    padding:25px;
    backdrop-filter:blur(8px);
    box-shadow:
    0 0 20px rgba(0,229,255,.4),
    0 0 50px rgba(106,0,255,.3);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#00ffff;
    letter-spacing:3px;
    text-shadow:0 0 10px cyan;
}

.fila{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0;
    padding:12px 15px;
    border-radius:10px;
    background:#0f2238;
    border-left:5px solid #6a00ff;
    transition:.3s;
}

.fila:hover{
    transform:translateX(8px);
    background:#17314d;
    box-shadow:0 0 15px rgba(0,229,255,.5);
}

.fila span{
    color:#00ff9d;
    font-size:20px;
    font-weight:bold;
    text-shadow:0 0 8px #00ff9d;
}

footer{
    margin-top:25px;
    text-align:center;
    color:#b6d9ff;
    font-size:15px;
    letter-spacing:1px;
}

footer strong{
    color:#00e5ff;
    text-shadow:0 0 10px #00e5ff;
}

@media (max-width:600px){

    h1{
        font-size:24px;
    }

    .fila{
        font-size:16px;
    }

    .fila span{
        font-size:18px;
    }

    .btn-probar{
        font-size:16px;
    }

}